[Unit]
Description = runs teleterm
After=network.target

[Service]
ExecStart=/usr/bin/env -u HOME /usr/bin/tt server
Restart=always

[Install]
WantedBy=default.target
