global:
  scrape_interval: 10s

scrape_configs:
- job_name: telegraf
  static_configs:
  - targets:
<% @vpn_ips.each do |_, ip| -%>
    - "<%= ip %>:9273"
<% end -%>
- job_name: prometheus-node-exporter
  static_configs:
  - targets:
<% @vpn_ips.each do |name, _| -%>
    - "<%= name %>:9100"
<% end -%>
  relabel_configs:
  - source_labels: ['__address__']
    separator:     ':'
    regex:         '(.*):.*'
    target_label:  'host'
    replacement:   '${1}'
