[Unit]
Description=roundcubemail

[Service]
User=http
Group=http
ExecStart=/usr/bin/spawn-fcgi -a 127.0.0.1 -p 9000 -f /usr/bin/php-cgi -C 2 -n

[Install]
WantedBy=multi-user.target
