[Unit]
Description=metabase
After=network.target postgresql.service

[Service]
WorkingDirectory=/media/persistent/metabase
User=metabase
Environment=MB_JETTY_HOST=127.0.0.1
Environment=MB_DB_TYPE=postgres
Environment=MB_DB_DBNAME=metabase
Environment=MB_DB_PORT=5432
Environment=MB_DB_USER=metabase
Environment=MB_DB_PASS=
Environment=MB_DB_HOST=localhost
ExecStart=java -Xmx128m -jar /opt/metabase/metabase.jar
Restart=always

[Install]
WantedBy=multi-user.target
