SUBSYSTEM=="block" ATTR{dm/name}=="partofme-data" TAG+="systemd" ENV{SYSTEMD_WANTS}+="media-persistent.mount" ENV{SYSTEMD_WANTS}+="pihole.service" ENV{SYSTEMD_WANTS}+="vaultwarden.service" ENV{SYSTEMD_WANTS}+="prometheus.service" ENV{SYSTEMD_WANTS}+="grafana.service" ENV{SYSTEMD_WANTS}+="freshrss.service"
