[Unit]
Description = runs mailu
After=network.target

[Service]
ExecStart=/usr/bin/podman-compose up
ExecStop=/usr/bin/podman-compose down
Restart=always
WorkingDirectory=/media/persistent

[Install]
WantedBy=default.target
